:root {
  --primary-color: rgba(92, 12, 92, 0.4);
  --secondary-color: rgb(92, 12, 92);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --box-color: rgba(204, 144, 204, 0.2);
}
body {
  margin-top: 100px;
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}
h1 {
  font-size: 96px;
  margin: 20px;
  color: var(--secondary-color);
}

h2 {
  font-size: 48px;
  margin: 20px;
}

h3 {
  font-size: 35px;
  opacity: 0.7;
  margin: 20px;
}
h4 {
  font-size: 30px;
  opacity: 0.7;
  margin: 20px;
}
p {
  background: var(--box-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin: 20px auto;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.about-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.contact-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--secondary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.launchapp {
  background-color: var(--box-color);
  border: 1px solid var(--primary-color);
}
.card-title {
  font-size: 25px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  .launchapp {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .col-sm-2 {
    max-width: 20%;
  }
  .coding {
    margin: 0 50% auto;
  }
}
.technologies {
  background-color: white;
  padding: 0;
  margin: 0 auto;
}
.weatherapp {
  background-color: var(--box-color);
  border: 1px solid var(--primary-color);
  margin: 0 30% auto;
  margin-bottom: 40px;
}
.portfolio {
  background-color: var(--box-color);
  border: 1px solid var(--primary-color);
  margin: 0 30% auto;
  margin-bottom: 40px;
}
.coding {
  margin-bottom: 40px;
}
.col-sm-2 {
  max-width: 100px;
}
